.a {
  color: #111;

  &__b {
    color: #333;

    text-decoration: underline;
  }
}

$icons-sprite: "images_source/auth/*.png";

.icon {
  background-image: spritus-url($icons-sprite);
  background-size: spritus-size($icons-sprite);
}

.icon-google {
  background-position: spritus-position($icons-sprite, "google");
  height: spritus-height($icons-sprite, "google");
  width: spritus-width($icons-sprite, "google");
}